/* Outer container for the feed */
.feed-container-outer {
    padding: 0px;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Inner container to center and constrain width */
.feed-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}
