echo "Sourcing .env.public"
export BRAND_NAME="brand_name"
export TLD=".org"

# Development server
export LOCAL_SERVER_mDNS = "computername.local"

# Run the service in each of these dirs
# THEY MUST BE IN ROUGHLY THIS ORDER
export SERVICES_TO_RUN=("keycloak" "org" "opentdf" "AICouncil" "nginx-proxy")

# Google OAuth Config
export VITE_GOOGLE_CLIENT_ID="<YOUR GOOGLE OAUTH CLIENT ID>"
export VITE_GITHUB_CLIENT_ID="<YOUR GITHUB OAUTH CLIENT ID>"

# Location of your OpenTDF server
export VITE_KAS_ENDPOINT="https://opentdf/kas"

# Variables
export PEM_FILE="<YOUR SECRET HERE>"
export SERVER_USER="<YOUR SECRET HERE>"
export SERVER_HOST="<YOUR SECRET HERE>"
export REMOTE_FOLDER="<YOUR SECRET HERE>"
export ZIP_FILE="<YOUR SECRET HERE>"
export LOCAL_DESTINATION="<YOUR SECRET HERE>"
export EXTRACT_FOLDER="<YOUR SECRET HERE>" # Name of the folder after extraction

source .env.public
