.create-room-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #333;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.error {
    color: #d9534f;
    background-color: #f8d7da;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
}

.create-room-form {
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    text-align: left;
}

label {
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.2s;
}

input:focus,
textarea:focus {
    border-color: var(--arkavo-dark-orange);
}

textarea {
    resize: vertical;
    min-height: 80px;
}

.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: var(--arkavo-orange, red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.submit-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.submit-button:hover:not(:disabled) {
    background-color: var(--arkavo-orange, red);
}
